@page
@{
    ViewData["Title"] = "Prime Sieve";
}
<h1>@ViewData["Title"]</h1>

<h3>This page will display the output of the PrimeSieve console application.</h3>

<div id="prime-sieve-output">
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/primes.js"></script>
